<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin - Lista Klientów</title>
	<link rel="stylesheet" type="text/css" href="Style.css">
	<link rel="stylesheet" type="text/css" href="sidenav.css">
	<link rel="stylesheet" type="text/css" href="slider.css">
	<script src="animacjaPaska.js"></script>
	<script src="menu.js"></script>
	<script src="deleteAllUsers.js"></script>
</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="glowna_zalogowanyAdmin">O nas</a>
    <a href="menu_zalogowanyAdmin">Dostepne auta</a>
    <a href="menu_zalogowanyAdminWszystkie">Flota salonu</a>
    <a href="autaUzytkownika">Zwróć auta</a>
    <a href="adminPanel">Admin panel</a>
	<a href="logout">Wyloguj się</a>
</div>


<span style="font-size:30px;color: #FFFF;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

	<h2 style="text-align: center; color: #FFFF; text-size: 60px">Lista Klientów</h2>

	<table id = "customers">
		<thead>
			<tr>
				<th>Login</th>
				<th>Dowód osobisty</th>
				<th>Saldo</th>
				<th>Czy root?</th>
			</tr>
		</thead>

		<tbody>
			
				<tr th:each="samochody: ${samochody}">
					<td><span th:text="${samochody.marka}">marka</span></td>
					<td><span th:text="${samochody.model}">model</span></td>
					<td><span th:text="${samochody.cena}">Cena</span></td>
					<td><span th:text="${samochody.kaucja}">Kaucja</span></td>
				</tr>
		</tbody>
	</table>
	
	<div style="display: block; text-align: center">
    <label for="noOfCar">
				<b style="color: #FFFF" >Wprowadź nr użytkownika</b>
			</label>
			<input type="text" placeholder="Number of car" name="noCar" required > 
			
			    <a href="adminPanelEdycjaDanychUzytkownika" style="color: #FFFF">Edytuj</a>

    </div>
    
    <div style="display: block; text-align: center; margin-left: 15%; margin-top: 2%">
    
    <button type="submit">Usuń</button>
    <button onclick="deleteAllUsers()">Usuń Wszystkich użytkowników</button>
    <p id="demo" style="color: #FFFF"></p>
    
    
    </div>

</body>
</html>