<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="Style.css">
	<link rel="stylesheet" type="text/css" href="sidenav.css">
	<script src="animacjaPaska.js"></script>
		<title>Wypożyczalnia aut</title>

	

</head>

	<body>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="glowna">O nas</a>
    <a href="menu">Nasze Auta</a>
    <a href="#">Wyloguj się</a>
    <a href="autaUzytkownika">Zwróć auta</a>
    <a href="adminPanel">Admin panel</a></div>

	<span style="font-size:30px;color: #FFFF;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

	<div id="main">


		<h1>O nas</h1>
		<p>
			Jesteśmy młodą firmą, która dopiero zaczyna swoją działalność.
			Oferujemy wynajem aut różnego typu w zależności od państwa potrzeb.
			Posiadamy szeroką gamę pojazdów, od aut dostawczych przydatnych np.
			podczas remontu, przez auta kompaktowe, aż po luksusowe auta sportowe na ślub,
			lub aby po prostu urozmaicić sobie weekend. </br></br>
			Nasza siedziba mieści się w Atrium Promenada
			ul. Ostrobramska 75c, 04-175 Warszawa.
			<a href="https://www.google.com/maps/place/Atrium+Promenada/@52.2316536,21.1039938,17z/data=!3m1!4b1!4m5!3m4!1s0x471ecd88d34b59cb:0x3b8e3d66082dfd6!8m2!3d52.2316536!4d21.1061825">
			Dojazd.</br></br>
			</a>

			Kontakt:</br></br>

			Konrad Żołyński</br>
			<a href="https://github.com/Konrad-code">Github</br></a>
			konrad.zolynski@gmail.com</br>
			+48 533 683 168</br></br>

			Janek Misiórski</br>
			<a href="https://github.com/janekjmf">Github</br></a>
			janekjmf@gmail.com</br>
			+48 883 483 807</br>
		</p>
</body>
</html>