<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="StyleLogin.css">
	<link rel="stylesheet" type="text/css" href="sidenav.css">
	<script src="animacjaPaska.js"></script>
<title>Zaloguj się</title>
</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="glowna">O nas</a>
    <a href="menu">Nasze Auta</a>
    <a href="menu_wszystkie">Flota salonu</a>
    <a href="login">Zaloguj się</a>
</div>


<span style="font-size:30px;color: #FFFF;cursor:pointer" onclick="openNav()">&#9776; Menu</span>



	<form action="rejestracja" method="post">
		<div class="container">
			<label for="uname">
				<b style="color: #FFFF" >Login</b>
			</label>
			<input type="text" placeholder="Enter Username" name="Login" required > 
			
			
			<label
				for="psw"><b style="color: #FFFF">Hasło</b>
			</label> 
			<input type="password" placeholder="Enter Password" name="Haslo" required>


			<label
				for="psw"><b style="color: #FFFF">Powtórz Hasło</b>
			</label> 
			<input type="password" placeholder="Enter Password" name="repetedHaslo" required>
			
			
			<label for="uname">
				<b style="color: #FFFF" >Dowód osobisty</b>
			</label>
			<input type="text" placeholder="Enter your ID" name="dowodOsobisty" required > 

			<button type="submit">Zarejestruj</button>
			<a href="login" style="color: #FFFF">Zaloguj</a>
			
		</div>
		
		
	</form>

</body>
</html>