<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Renault Twingo</title>
    <link rel="stylesheet" type="text/css" href="slider.css">
    <link rel="stylesheet" type="text/css" href="sidenav.css">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <script src="animacjaPaska.js"></script>
    <script src="slider.js"></script>

</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="glowna">O nas</a>
    <a href="menu">Nasze Auta</a>
    <a href="login">Zaloguj się</a>
</div>


<span style="font-size:30px;color: #FFFF;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<div class="slideshow-container">

    <div class="mySlides fade" style="display: block">
        <img src="twingo1.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="twingo2.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="twingo3.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="twingo4.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>


</div>


<table id = "spec">
    <thead>
    <tr>
        <th>Informacje</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Marka</td>
        <td>Renault</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>Twingo</td>
    </tr>
    <tr>
        <td>Rok produkcji</td>
        <td>2012</td>
    </tr>
    <tr>
        <td>Pojemność silnika</td>
        <td>1 500</td>
    </tr>
    <tr>
        <td>Moc</td>
        <td>75 KM</td>
    </tr>
    <tr>
        <td>Rodzaj paliwa</td>
        <td>Diesel</td>
    </tr>
    <tr>
        <td>Skrzynia biegów</td>
        <td>Manualna</td>
    </tr>

    <tr>
        <td>Liczba miejsc</td>
        <td>4</td>
    </tr>

    <tr>
        <td>Typ</td>
        <td>Auta miejskie</td>
    </tr>

    <tr>
        <td>Napęd</td>
        <td>Na przednie koła</td>
    </tr>

    </tbody>
</table>

 <div style="display: block; text-align: center">
    <label for="noOfDays">
				<b style="color: #FFFF" >Wypożycz na </b>
			</label>
			<input type="text" placeholder="Number of days" name="days" required > 
    </div>
    
    <div style="display: block; text-align: center; margin-left: 15%; margin-top: 2%">
    
    <button type="rent">Wypożycz za 15 zł dziennie</button>
    
    </div>


</body>
</html>