<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodge Viper SRT</title>
    <link rel="stylesheet" type="text/css" href="slider.css">
    <link rel="stylesheet" type="text/css" href="sidenav.css">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <script src="animacjaPaska.js"></script>
    <script src="slider.js"></script>
    <script src="rent.js"></script>

</head>
<body>

<h2 style=" text-size: 40px; color: #FFFF; text-align: center">Dodge Viper</h2></br>
<div class="row">
	<div class="column">
				<div class="slideshow-container">

    <div class="mySlides fade" style="display: block">
        <img src="dodge1.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="dodge2.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="dodge3.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="dodge4.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>


</div>
	</div>


	<div class="column">
		<table id = "spec">
		    <thead>
		    <tr>
		        <th>Specyfikacja</th>
				<th>samochodu</th>
		    </tr>
		    </thead>
		
				    <tbody>
    <tr>
        <td>Marka</td>
        <td>Dodge</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>Viper SRT</td>
    </tr>
    <tr>
        <td>Rok produkcji</td>
        <td>2005</td>
    </tr>
    <tr>
        <td>Pojemność silnika</td>
        <td>8 277</td>
    </tr>
    <tr>
        <td>Moc</td>
        <td>500 KM</td>
    </tr>
    <tr>
        <td>Rodzaj paliwa</td>
        <td>Benzyna</td>
    </tr>
    <tr>
        <td>Skrzynia biegów</td>
        <td>Manualna</td>
    </tr>

    <tr>
        <td>Liczba miejsc</td>
        <td>2</td>
    </tr>

    <tr>
        <td>Typ</td>
        <td>cabrio</td>
    </tr>

    <tr>
        <td>Napęd</td>
        <td>Na tylne koła</td>
    </tr>

    </tbody>
</table>
		
		
	</div>
</div>


</body>
</html>