<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Panel Administratora</title>
</head>

	<link rel="stylesheet" type="text/css" href="Style.css">
	<link rel="stylesheet" type="text/css" href="sidenav.css">
	<link rel="stylesheet" type="text/css" href="StyleLogin.css">
	<link rel="stylesheet" type="text/css" href="slider.css">
	<script src="animacjaPaska.js"></script>
	<script src="menu.js"></script>
</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="adminZabezpieczenie@#$)@#$@#(!@))(#))#)!(@)$adsosadkkadkas#@)(@/glowna_zalogowanyAdmin">O nas</a>
    <a href="adminZabezpieczenie@#$)@#$@#(!@))(#))#)!(@)$adsosadkkadkas#@)(@/menu_zalogowanyAdmin">Dostepne auta</a>
    <a href="adminZabezpieczenie@#$)@#$@#(!@))(#))#)!(@)$adsosadkkadkas#@)(@/menu_zalogowanyAdminWszystkie">Flota salonu</a>
	<a href="logout">Wyloguj się</a>
</div>


<span style="font-size:30px;color: #FFFF;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
	
	<h2 style="text-align: center; color: #FFFF; text-size: 60px">Panel Administratora</h2>
	
	
	<div  style="text-align: center">
		<a href="adminZabezpieczenie@#$)@#$@#(!@))(#))#)!(@)$adsosadkkadkas#@)(@/adminPanelOczekujaceZwroty" style="color: #FFFF">Oczekujące zwroty</a>
		</br>
		</br>
		<a href="adminZabezpieczenie@#$)@#$@#(!@))(#))#)!(@)$adsosadkkadkas#@)(@/adminPanelWypozyczenia" style="color: #FFFF">Wypożyczenia</a>
		</br>
		</br>
		<a href="adminZabezpieczenie@#$)@#$@#(!@))(#))#)!(@)$adsosadkkadkas#@)(@/adminPanelListaKlientow" style="color: #FFFF">Lista klientów</a>
		</br>
		</br>
		<a href="adminZabezpieczenie@#$)@#$@#(!@))(#))#)!(@)$adsosadkkadkas#@)(@/adminPanelListaAut" style="color: #FFFF">Lista aut</a>
	</div>
	
	
	
	
	
</body>
</html>